// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    margin: 10px;
    overflow-x: hidden;
}
img{
    width: 150px!important;
    height: 150px!important;
}

.form-control{
    width: 80%!important;
}